<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute timestamp wotz:</strong>
  <%= @test2.attribute_timestamp_wotz %>
</p>

<p>
  <strong>Attribute timestamp wtz:</strong>
  <%= @test2.attribute_timestamp_wtz %>
</p>

<%= link_to 'Edit', edit_test2_path(@test2) %> |
<%= link_to 'Back', test2s_path %>
